<div id="simulator-footer" class="bg-white p-1" style="position: fixed; bottom: 0; width: 100%; z-index: 80; border-top: 2px solid #3b804c!important;">
    <div class="d-flex justify-content-between ps-2 pe-2 align-items-center">
        <div class="d-flex align-items-center">
            <div class="fw-bold">
                <i class="fa fa-dice"></i> Mode aléatoire
             </div>
            <div class="d-flex">
                <div class="ms-3 me-2">
                    <input type="text" v-model="simulationData.defaultTrxNbr" class="form-control form-control-sm" placeholder="Numéro par défaut">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="useDefaultTrxNbr" v-model="simulationData.useDefaultTrxNbr" v-bind:checked="simulationData.useDefaultTrxNbr">
                    <label class="form-check-label" for="useDefaultTrxNbr">Utiliser le numéro par défaut</label>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="form-check form-switch me-4">
                <input class="form-check-input" type="checkbox" id="useRandomTrxAmount" v-model="simulationData.useRandomTrxAmount" v-bind:checked="simulationData.useRandomTrxAmount">
                <label class="form-check-label" for="useRandomTrxAmount">Montant</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="useRandomTrxNbr" v-model="simulationData.useRandomTrxNbr" v-bind:checked="simulationData.useRandomTrxNbr">
                <label class="form-check-label" for="useRandomTrxNbr">Nombre de transactions</label>
            </div>
        </div>
    </div>
</div>