<form id="cinetpay-form" v-on:submit.prevent="updateService" >
    <div class="h4 fw-bold">Général</div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="mb-3">
                <label class="col-form-label">Nom du service</label>
                <input type="text" class="form-control" name="name" v-model="service.name" disabled>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="mb-3">
                <label class="col-form-label">Nom complet</label>
                <input type="text" class="form-control" value="" name="longName" v-model="service.fullname" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="mb-3">
                <label class="col-form-label">Code</label>
                <input type="text" class="form-control" value="" name="code" v-model="service.code" disabled>
            </div>
        </div>
    </div>
    <div class="h4 fw-bold mt-4">Caractéristiques</div>
    <hr>
    <div class="row mb-3">
        <div class="col-md-6 col-sm-12">
            <label class="col-form-label">URL</label>
            <input type="text" class="form-control" value="" name="url" v-model="service.url" disabled>    
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label class="col-form-label">Type</label>
            <input type="text" class="form-control" name="type" v-model="service.type" disabled>   
        </div>
        <div class="col-6">
            <label class="col-form-label">Rôle</label>
            <input type="text" class="form-control" name="role" v-model="service.role" disabled>   
        </div>
    </div>
    <div class="h4 fw-bold mt-4">Description</div>
    <hr>
    <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
            <textarea disabled name="description" class="form-control" rows="3" v-model="service.description" placeholder="Description du service"></textarea>
        </div>
    </div>
    <hr>
    <div>
        <button v-on:click="deleteGateway" class="btn btn-danger" type="button"> <i class="fa fa-times"></i> Retirer la passerelle</button>
    </div>
</form>