<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card border">
                <div class="card-body">
                    <div class="fw-bolder"><i class="fa fa-database text-danger"></i> 200</div>
                    <div class="fw-bolder text-muted small">TRX TOTAL</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border">
                <div class="card-body">
                    <div class="fw-bolder"><i class="fa fa-arrow-down text-success"></i> 20</div>
                    <div class="fw-bolder text-muted small">TRX REÇUES</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border">
                <div class="card-body">
                    <div class="fw-bolder"><i class="fa fa-play text-primary"></i> 10</div>
                    <div class="fw-bolder text-muted small">TRX EN COURS</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border">
                <div class="card-body">
                    <div class="fw-bolder"><i class="fa fa-pause text-muted"></i> 10</div>
                    <div class="fw-bolder text-muted small">TRX EN NOS</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="bg-white p-3 rounded shadow border">
                <h4 class="text-muted"> <i class="fa fa-chart-line"></i> Flux de reception</h4>
                <hr>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="offset-md-1 offset-md-12 col-md-4 col-sm-12">
            Nombre de transactions reçue dans le temps
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            Tableau recapitulatif
        </div>
        <div class="col-md-4 col-sm-12">
            <h1>Liste des dernière activités</h1>
        </div> 
    </div>
</div>