<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/static/bootstrap-5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/nprogress/nprogress.css' />
      <link rel="shortcut icon" href="/img/icons/icon-96x96.png" />
    <style>
      .form-check-input:checked {
        background-color: #0a9855;
        border-color: #0a9855;
      }

      #nprogress .spinner-icon { 
        border-top-color: #23c178;
        border-left-color: #23c178;
        border-radius: 50%;
      }

      #nprogress .bar {
        background: #23c178;
        height: 4px;
      }
      #nprogress .peg {
        box-shadow: 0 0 10px #23c178, 0 0 5px #23c178;
      }

    </style>
  </head>
  <body>