<div v-for="(event, index) in reverseArr(events)">
    <div class="p-3 border-bottom">
        <div class="d-flex justify-content-between">
            <div>
                <span class="fw-bolder">#{{ events.length - index }} {{ event.action }}:</span>
            </div>
            <div>
                <span class="badge small" v-bind:class="[translateEventTag(event.strictType)]">{{ event.strictType }}</span>
                <span class="badge small" v-bind:class="[translateEventTag(event.loggingLevel)]">{{ event.loggingLevel }}</span>
            </div>
        </div>
        <div class="text-muted small">
            <span>{{ event.date }}</span>
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="text-success small">SERVICE</div>
                    <div class="fw-bold">{{ event.originService }}</div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="text-success small">ID</div>
                    <div class="">{{ event.id }}</div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="text-success small">REF</div>
                    <div class="">{{ event.entityRef }}</div>
                </div>
            </div>
        </div>
        <div class="mt-2">
           <div class="small text-success">DONNEES</div>
           <div class="mt-1">
               <pre class="event-data-console">{{ event.eventData.map }}</pre>
           </div>
        </div>
    </div>
</div>